<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>HelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Omega</servlet-name>
    <jsp-file>/Ω.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>RequestUri</servlet-name>
    <jsp-file>/RequestUri.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Omega</servlet-name>
    <url-pattern>/omega</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestUri</servlet-name>
    <url-pattern>/requesturi/*</url-pattern>
  </servlet-mapping>
</web-app>
