name: Create and publish a Docker image with the "catnip" app

on:
  push:
    branches: ['file-based-service-bindings-docker-app']

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: cloudfoundry/catnip-app

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
        with:
          context: ./assets/catnip/
          file: ./assets/catnip/Dockerfile
          push: true
          tag: latest
